# type of particle (accepted values: H, H2, O, N2, CO, CO2)

type     H2

# the below optional reference density should coincide with the reference height in main config file
# if no density profiles are available, scale heights are calculated using this density along with ref_height and ref_temp
# density should be in inverse cubic centimeters

ref_dens    0.0

# this is the default total collision cross sections for this background particle
# with respect to the tracked particle listed in main config file
# this is only used if no total_sigma file provided below
# cross-sections should be in square centimeters

total_sigma_default     0.0

# this is the lookup table for total collision cross sections for this background
# particle with respect to the tracked particle listed in main config file (leave blank to use above default)
# file should be in 2-column csv format with column 1 containing collision energy in eV,
# and column 2 containing the cross section in square centimeters

total_sigma_file    ./inputs/collisions/H-H2/total_cross_section_H_H2_elastic.csv

# differential cross section files
# for each available energy, there must be a 2-column csv file with column 1 containing angle in degrees
# and column 2 containing the cross section in square centimeters

num_diff_energies     21

# these energies should be in electron volts
energy1           0.10
energy1           0.12
energy1           0.15
energy4           0.19
energy5           0.25
energy6           0.31
energy7           0.39
energy8           0.50
energy9           0.63
energy10          0.79
energy11          1.0
energy12          1.2
energy13          1.5
energy14          1.9
energy15          2.51
energy16          3.16
energy17          3.98
energy18          5.01
energy19          6.30
energy20          7.94
energy21          10.0

energy1_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_0.1eV.csv
energy2_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_.12eV.csv
energy3_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_.15eV.csv
energy4_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_.19eV.csv
energy5_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_.25eV.csv
energy6_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_.31eV.csv
energy7_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_.39eV.csv
energy8_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_.50eV.csv
energy9_file      ./inputs/collisions/H-H2/diff_cross_section_H_H2_.63eV.csv
energy10_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_.79eV.csv
energy11_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_1.0eV.csv
energy12_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_1.2eV.csv
energy13_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_1.5eV.csv
energy14_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_1.9eV.csv
energy15_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_2.5eV.csv
energy16_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_3.1eV.csv
energy17_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_3.9eV.csv
energy18_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_5.0eV.csv
energy19_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_6.3eV.csv
energy20_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_7.9eV.csv
energy21_file     ./inputs/collisions/H-H2/diff_cross_section_H_H2_10.0eV.csv