# type of particle (accepted values: H, H2, O, N2, CO, CO2)

type     H

# the below optional reference density should coincide with the reference height in main config file
# if no density profiles are available, scale heights are calculated using this density along with ref_height and ref_temp
# density should be in inverse cubic centimeters

ref_dens    0.0

# this is the default total collision cross sections for this background particle
# with respect to the tracked particle listed in main config file
# this is only used if no total_sigma file provided below
# cross-sections should be in square centimeters

total_sigma_default     0.0

# this is the lookup table for total collision cross sections for this background
# particle with respect to the tracked particle listed in main config file (leave blank to use above default)
# file should be in 2-column csv format with column 1 containing collision energy in eV,
# and column 2 containing the cross section in square centimeters

total_sigma_file    ./inputs/collisions/H-H/total_cross_section_H_H_elastic.csv

# differential cross section files
# for each available energy, there must be a 2-column csv file with column 1 containing angle in degrees
# and column 2 containing the cross section in square centimeters

num_diff_energies     12 

# these energies should be in electron volts
energy1            0.1
energy2            0.79
energy3            1.0
energy4            1.2
energy5            1.5
energy6            1.9
energy7            2.5
energy8            3.9
energy9            5.0
energy10           6.3
energy11           7.9
energy12           10.0

energy1_file       ./inputs/collisions/H-H/diff_cross_section_H_H_.1eV.csv
energy2_file       ./inputs/collisions/H-H/diff_cross_section_H_H_.79eV.csv
energy3_file       ./inputs/collisions/H-H/diff_cross_section_H_H_1.0eV.csv
energy4_file       ./inputs/collisions/H-H/diff_cross_section_H_H_1.2eV.csv
energy5_file       ./inputs/collisions/H-H/diff_cross_section_H_H_1.5eV.csv
energy6_file       ./inputs/collisions/H-H/diff_cross_section_H_H_1.9eV.csv
energy7_file       ./inputs/collisions/H-H/diff_cross_section_H_H_2.5eV.csv
energy8_file       ./inputs/collisions/H-H/diff_cross_section_H_H_3.9eV.csv
energy9_file       ./inputs/collisions/H-H/diff_cross_section_H_H_5.0eV.csv
energy10_file      ./inputs/collisions/H-H/diff_cross_section_H_H_6.3eV.csv
energy11_file      ./inputs/collisions/H-H/diff_cross_section_H_H_7.9eV.csv
energy12_file      ./inputs/collisions/H-H/diff_cross_section_H_H_10.0eV.csv