# type of particle (accepted values: H, O, N2, CO, CO2)

type     N2

# the below optional reference density should coincide with the reference height in main config file
# if no density profiles are available, scale heights are calculated using this density along with ref_height and ref_temp
# density should be in inverse cubic centimeters

ref_dens    1.0e7

# this is the default total collision cross sections for this background particle
# with respect to the tracked particle listed in main config file
# this is only used if no total_sigma file provided below
# cross-sections should be in square centimeters

total_sigma_default     1.85e-14

# this is the lookup table for total collision cross sections for this background
# particle with respect to the tracked particle listed in main config file (leave blank to use above default)
# file should be in 2-column csv format with column 1 containing collision energy in eV,
# and column 2 containing the cross section in square centimeters

# total_sigma_file    ./inputs/collisions/O-O/total_cross_section_O(3P)_O_elastic.csv
total_sigma_file    ./inputs/collisions/O-N2_full/n2_o_data/total_elastic_cross_section_isotope16.csv

# differential cross section files
# for each available energy, there must be a 2-column csv file with column 1 containing angle in degrees
# and column 2 containing the cross section in square centimeters

# num_diff_energies     1
num_diff_energies     10

# these energies should be in electron volts
# energy1           3.0

# energy1_file      ./inputs/collisions/O-O/diff_cross_section_O_O_3eV.csv

energy1           0.30996048253055963
energy2           0.6198756009146601
energy3           1.2497931865641376
energy4           1.4998510039731114
energy5           2.2499411505928264
energy6           2.749768165657432
energy7           3.2497598253551967
energy8           3.5000737687350796
energy9           3.7499019176547104
energy10           3.999978034960366

energy1_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_0.309960_eV.csv
energy2_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_0.619920_eV.csv
energy3_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_1.249883_eV.csv
energy4_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_1.499958_eV.csv
energy5_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_2.249938_eV.csv
energy6_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_2.749965_eV.csv
energy7_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_3.249993_eV.csv
energy8_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_3.500068_eV.csv
energy9_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_3.749896_eV.csv
energy10_file      ./inputs/collisions/O-N2_full/n2_o_data/DCS/isotope16/elastic_DCS_isotope_16/csv_format/DCS_elastic_3.999972_eV.csv

