############################################
##                                        ##
## Hot O distribution configuration file  ##
##                                        ##
############################################

O2plus_DR_rate_coeff     1.95e-7      # [cm^3 s^-1]

# Fixed altitude for escape probability calculations
# Set to 0 to use normal altitude sampling from production rate profile
# Set to positive value (in cm) to fix all particles at that altitude
# Example: 200e5 = 200 km
fixed_altitude           0            # [cm] set to 0 for normal sampling, or altitude in cm

#################
# Mars config 1 #
#################
source                   O2plus_DR   #valid choices are 'O2plus_DR' or 'O2plus_DR_old_method'
profile_bottom           120e5        #[cm] bottom altitude boundary of atmospheric profiles
profile_top              400e5       #[cm] top altitude boundary of atmospheric profiles
temp_prof_filename       ./inputs/Mars/MarsTemp_Lillis2017.csv
O2plus_prof_filename     ./inputs/Mars/O2+_density_profile_Lillis2017.csv
electron_prof_filename   ./inputs/Mars/electron_density_profile_Lillis2017.csv

#################
# Mars config 2 #
#################
#source                   O2plus_DR     #valid choices are 'O2plus_DR'
#profile_bottom           80e5        #[cm] bottom altitude boundary of atmospheric profiles
#profile_top              400e5       #[cm] top altitude boundary of atmospheric profiles
#temp_prof_filename       ./inputs/Mars/MarsTempHSA_Fox2015.csv
#O2plus_prof_filename     ./inputs/Mars/O2+_density_profile_HSA_eroded_Fox2015.csv
#electron_prof_filename   ./inputs/Mars/electron_density_profile_HSA_eroded_Fox2015.csv


